@page "/login"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject HttpClient Http
@using RiskTrackSCF_ManagmentWEB.Services 
@using RiskTrackSCF_ManagmentWEB.Models
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject ProtectedSessionStorage sessionStorage
@rendermode InteractiveServer

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="loginModel.Email" placeholder="Email" class="form-control" />
    <InputText @bind-Value="loginModel.Password" placeholder="Contraseña" type="password" class="form-control" />
    <button class="btn btn-primary">Ingresar</button>

    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger mt-3">@error</div>
    }
</EditForm>

@code {
    private LoginRequest loginModel = new();
    private string error = "";

    private async Task HandleLogin()
    {
        var result = await AuthService.LoginAsync(loginModel);

        if (result == null)
        {
            error = "Credenciales incorrectas.";
            return;
        }

        if (result.Role != "S")
        {
            error = "Acceso denegado: solo usuarios SuperAdmin pueden ingresar.";
            return;
        }

        await sessionStorage.SetAsync("authUser", result);
        Navigation.NavigateTo("/dashboard");
    }
}

